#patient-head-img{
    width:100vw;
    height:40vh;
}
#patient-back-btn{
    width:7vw;
    height:5vh;
    background-color: rgb(27, 27, 219);
    color:white;
    margin:10px;
}
#patient-back-btn a{
    text-decoration: none;
    color:white;
}
@media screen and (max-width:600px) {
    #patient-back-btn{
        width:14vw;
        height:15vh;
        background-color: rgb(27, 27, 219);
        color:white;
        margin:10px;
    }
    #patient-back-btn a{
        text-decoration: none;
        color:white;
    }
}
#details-img{
    width:100vw;
}
