footer{
    background-color: #000;
    color:white
}
.containerss{
    display:grid;
    grid-template-columns: 30vw 30vw 30vw;
     justify-content: center;
}

.listitemss{
    list-style:none;
}
.listitemss a{
    text-decoration: none;
    color:white;
}
.itemss h2{
    margin-top: 5px;
    margin-bottom: 5px;
}
@media screen and (max-width:600px){
    .itemss h2{
        font-size:19px;
    }
}
body{
  background-color:floralwhite;
}


#jumbotrons{
    background-color: aquamarine;
  }