
        {% load static %}
        {% include 'header.html' %}
     <h1> Welcome to mahajan clinic</h1>
     <div>
         <img src="{% static '/image/appoint.jpeg' %}" class="imgs">
     </div>
    <h2> Here is the your name please check correctly and if you want to cancel please click on Cancel button</h2><br><br>
    <strong> Name: </strong>   <strong>{{cand.name}}</strong><br><br>
     <a  href="/remove_cand/{{cand.id}}"><button type="button" id="cancel-btn"> Cancel </button></a><br><br>
     <button type="button" id="patient-back-btn"><a href="/" class="text-white text-decoration-none"> home</a></button>
     {% include 'footer.html' %}