{% load static %}
        <footer>
            <div class="containerss">
                <div class="itemss">
                    <ul>
                        <h2>Menu</h2>
                        <li class="listitemss"> <a href="{% url 'patient' %}">Patient</a></li>
                        <li class="listitemss"> <a href="{% url 'doctors' %}">Doctor</a></li>
                        <li class="listitemss"><a href="{% url 'admin' %}">Admin</a></li>
                        <li class="listitemss"><a href="{% url 'appoint' %}">Appointment</a></li>
                    </ul>
                </div>
                <div class="itemss">
                    <ul>
                        <h2>Social Sites</h2>
                    <li class="listitemss"><i class="fa fa-linkedin"></i>&nbsp; <a href="https://www.linkedin.com/in/sukritan-gupta-a38430219/"target="_blank">Linkedin</a></li>
                    <li class="listitemss"><i class="fa fa-instagram"></i>&nbsp;<a href="https://www.instagram.com/sukritangupta4/ "target="_blank">Instagram</a></li>
                    <li class="listitemss"><i class="fa fa-facebook"></i>&nbsp;<a href="https://www.facebook.com/profile.php?id=100028091140984 "target="_blank">Facebook</a></li>
                    <li class="listitemss"><i class="fa fa-twitter">&nbsp;</i><a href="https://twitter.com/1871_sukritan " target="_blank">Twitter</a></li>
                    </ul>
                </div>
                <div class="itemss">
                  <h2> <strong> <p>Address</p></strong></h2>
                  <h3>
                      Ward No:15 patel nagar </h3>
                  
                  <h3>Kathua</h3>
                  <h3>9682669370</h3>
                </div>
            </div>
            <p style="text-align:center;">Copywrite&copy; by Sukritan gupta 2022</p>
        </footer>
        </body>
        <script src="{% static '/js/script2.js' %}"></script>
      
 </html>