
        {% include 'header.html' %}
        <main>
       <div id="jumbotrons">
    <marquee direction="left"style="font-weight:bold; font-style: italic; padding-top:10px; margin-left:50px; margin-right:50px;" id='marq'  scrollamount="10" behavior="scroll" > <h1 id="heading1"> Welcome to Mahajan Hospital</h1></marquee>
       </div>
       <div class="container">
         <div id="cont-item1">
            <img src="https://th.bing.com/th/id/OIP.F6_IuE3Xx-3TKUTP9MhH6AHaF7?pid=ImgDet&rs=1"id="img1">
            </div>
          <div id="cont-item2">
           <h1 style="text-align:center;"><strong>About</strong></h1>
            <h3 style="color:blue;" id="amana1">We are providing best facility for all kinds of disease and problems. We have certified ,experts and experinced doctor that are awarded winners in their fields.We are also providing ac rooms with 1x1 mentorship with medical staff and regular checkup by senior doctors.Our rate is also very reasonable and we provide best service to our patient.</h3>
            <button type="button" id="btn1" >Read more</button>
          </div>
          
       </div>
      </main>
{% include 'footer.html' %}