
        {% include 'header.html' %}
        {% load static %}
        <div>
            <img src="{% static '/image/hosp.jpeg' %}" class="imgs">
        </div>
      <h1> your appointment has been  cancelled thank you</h1><br><br>
       <h3>If you are facing any  problem please contact in below number</h3><br><br>
       <p><strong><h4>OR</h4></strong></p><br><br>
       <h3>Contact to suppert through email</h3><br><br>
       <a href="mailto:developermahajan496@gmail.com" ><button type="button">Email</button></a><br>
         <button type="button" id="patient-back-btn"><a href="/" >Back to Home</a></button>
         {% include 'footer.html' %}